.git
.idea
*._ls
*._dc

.project
Arkance AutoLISP-20211028T124330Z-001 from google drive.zip
StripMtext v5-0b.lsp
arkance-course.lsp
arkance-dcl.DCL
arkance-dcl.LSP
arkance-dcl2.DCL
arkance-dcl2.LSP
arkance-dcl3.DCL
video/myLispAppsFunctionality.tscproj

